#results-container {
	border: 1px solid rgb(184, 184, 184);
	border-top: none;
}

#assign-course .results {
	height: fit-content;
	overflow: auto;
	resize: none;
	border: none;
}
#assign-course .results:hover {
	background-color: rgb(199, 199, 199);
}

#assign-course .results:first-of-type {
	border-bottom: none;
	border-top: none;
}
